-f /usr/share/pip-wheels
asn1crypto==0.24.0
blinker==1.4
cairocffi==1.0.2
CairoSVG==2.4.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
cssselect2==0.2.1
defusedxml==0.6.0
Django==2.2.4
et-xmlfile==1.0.1
Flask==1.1.1
Flask-HTTPAuth==3.3.0
Flask-Mail==0.9.1
flask-profiler==1.8.1
Flask-WeasyPrint==0.6
html5lib==1.0.1
idna==2.8
image==1.5.27
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.17.0
openpyxl==2.6.2
pandas==0.25.0
pathlib==1.0.1
pdfkit==0.6.1
Pillow==6.1.0
pycparser==2.19
pyOpenSSL==19.0.0
Pyphen==0.9.5
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
salesforce-bulk==2.1.0
salesforce-reporting==0.1.3
scipy==1.3.0
simple-salesforce==0.74.3
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
tinycss2==1.0.2
unicodecsv==0.14.1
urllib3==1.25.3
WeasyPrint==48
webencodings==0.5.1
Werkzeug==0.15.5
zipfile36==0.1.3
gunicorn
